body{
    display: flex;
    flex-direction: row;
    background-color: #f9fafb;
    margin: 0;
    padding: 0;
}

#backgroundPicture{
    background-image: url(img/leaves.jpg);
    background-size: cover;
    min-width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#odinLined{
    background-image: url(img/odin-lined.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 140px;
}
#logo{
    width: 100%;
    height:20%;
    background-color: rgba(0, 0, 0, 0.424);
    margin-top: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo > p {
    font-size: 150px;
}
#credits{
    color: white;
    
}
#credits a{
    color: white;
    font-weight: 400;
    text-decoration: underline;
}
form{
    display: flex;
    flex-direction: column;
}
button{
    background-color: #596d48;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    width: 250px;
    height: 50px;
    border-radius: 9px;
    border: none;
}
#content{
    padding: 0px 60px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #596d48;
    font-weight: 900;
}
p{
    font-weight: bold;
}
#textAbove{
padding: 0;
font-size: 30px;
}
